<div class="container-sm m-auto mt-5 bg-body-secondary rounded
shadow p-3 mb-5 bg-body-tertiary rounded">
    
    <h1 class="text-center">PRODUCTS</h1>
    <form class="row g-3" [formGroup]="formGroupProduct">
        
        <div class="col-md-6">
            <label for="inputID"class="form-label">Product ID</label>
            <input type="number" class="form-control" id="prod_id" formControlName="id">
        </div>
        
        <div class="col-md-6">
            <label for="inputprodName" class="form-label">Product name</label>
            <input type="text" class="form-control" id="prod_name" formControlName="name">
        </div>
        
        <div class="col-12">
            <div class="mb-3">
                <label for="prodDescription" class="form-label">Description</label>
                <textarea class="form-control" id="prod_description" rows="3" formControlName="description"></textarea>
            </div>
        </div>
        
        <div class="col-md-6">
            <label for="inputqnt" class="form-label">Quantity (unit)</label>
            <input type="number" class="form-control" id="prodQuant" formControlName="quantity">
        </div>
        <div class="col-md-6">
            <label for="inputprice" class="form-label">Price</label>
            <input type="value" class="form-control" id="prodPrice" formControlName="price">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit" (click)="save()">SAVE</button>
        </div>
    </form>
    <h2 class="text-center mt-5">PRODUCTS</h2>
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">quantity(unit)</th>
            <th scope="col">price($)</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <th scope="row">1</th>
            <td>{{p.name}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
          </tr>
        </tbody>
      </table>
</div>